body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'League Spartan';
    justify-content: center;
    gap: 25px;
    background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: top left,bottom right;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 208px;
    flex-wrap: wrap;
}

.rates{
    width: 400px;
}

.rates div p {
    display: inline;
    padding: 10px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.rates div {
    margin: 10px;
    background-color: hsl(280deg 14.29% 95.88%);
    border-radius: 5px;
    padding: 15px;
    width: 300px;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 45px;
}

.body img {
    border-radius: 50%;
    width: 50px;
}

span {
    color: hsl(333, 80%, 67%);
}

.body .bo {
    background-color: hsl(300 100% 12.55%);
    color: hsl(0, 0%, 100%);
    margin: 10px;
    width: 350px;
    padding: 24px;
    border-radius: 7px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
    flex-basis: 300px;
    gap: 8px;
    align-items: end;
    flex-wrap: wrap;
}

.name {
    display: flex;
    align-items: center;
    gap: 16px;
}